<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourcePath" value="D:\\_zMCS\\Source File\\Source\\"/>
		<add key="BackupPath" value="D:\\_zMCS\\Source File\\Backup\"/>
		<add key="LogPath" value="D:\\_zMCS\\Source File\\Log\\"/> 
		<add key="SPList" value="http://services.toshiba-carrier.co.th/sites/partsearch/"/>
	</appSettings>
</configuration>