<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePathModel" value="C:\\Source File\\Source_Model\\"/>
    <add key="SourcePathServiceManual" value="C:\\Source File\\Source_ServiceManual\\"/>
    <add key="BackupPath" value="C:\\Source File\\Backup\"/>
    <add key="LogPath" value="C:\\Source File\\Log\\"/>
    <add key="ErrorPath" value="C:\\Source File\\Error\\"/>
    <add key="Interval" value="60000"/>
    <add key="SPList" value="http://services.toshiba-carrier.co.th/sites/partsearch/"/>
  </appSettings>
</configuration>