<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePathModel" value="C:\Source File\Source_Model\"/>
    <add key="SourcePathServiceManual" value="C:\Source File\Source_ServiceManual\"/>
    <add key="SourcePathModelBL" value="C:\Source File\Model_BL\" />
    <add key="BackupPath" value="C:\Source File\Backup\PS"/>
    <add key="BackupPathSVM" value="C:\Source File\Backup\SVM\"/>
    <add key="BackupPathBL" value="C:\Source File\Backup\BL\"/>
    <add key="LogPath" value="C:\\Source File\Log\"/>
    <add key="ErrorPath" value="C:\Source File\Error\"/>
    <add key="Interval" value="60000"/>
    <add key="SPList" value="https://service.toshiba-carrier.co.th/sites/partsearch/"/>
    <add key="BL-SPList" value="https://service.toshiba-carrier.co.th/sites/business/"/>
  </appSettings>
</configuration>